/* style.css */
body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f0f8ff;
}

h1 {
    color: darkblue;
}
.books{
    
 display: flex;

}
img{
    height: 300px;
    padding-left: 200px;
    
}

p {
    color: #333;
    font-size: 18px;
}

button {
    padding: 10px 20px;
    background-color: green;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: darkgreen;
}
